<linkrel="stylesheet"href="/stylesheets/login.css"/> 
  
 <div class="container mt-4 " style="border:none"> 
   <div class="row d-flex justify-content-center" style="width: 700px;"> 
<form action="/admin/addProduct" id="addProduct" method="post" enctype="multipart/form-data" class="loginBox col-md-6"> 
 <input 
 type="text" 
 class="w-300 p-2 m-2 form-control" 
 name="ID" 
 placeholder="ID" 
 /> 
 <input 
 type="text" 
 class="w-300 p-2 m-2 form-control" 
 name="name" 
 placeholder="Customer Name" 
 /> 
 <input 
 type="text" 
 class="w-100 p-2 m-2 form-control" 
 name="email" 
 placeholder="email" 
 /> 
 <input 
type="text" 
class="w-100 p-2 m-2 form-control" 
name="Phonenumber" 
placeholder="Phone number" 
 /> 
<input 
type="number" 
 class="w-100 p-2 m-2 form-control" 
 name="DeliveryAddress" 
 placeholder="Delivery Address" 
 /> 

 
 <input type="submit" class="btn btn-success p-2 m-2 float-end" /> 
 </form> 
</div> 
 </div>