  {{>admin_sidebar}}


<div class="" style="margin-left:8rem">
  <section class="p-3  pb-5 dash" style="margin-left:2rem">

<div class="container-fluid pt-4 px-4">
  <div class="row g-4 dashCards">
    <div class="col-sm-3">
      <div
        class="bg-light rounded d-flex align-items-center justify-content-between p-4"
      >
        <i class="fa fa-line-chart fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total Sales</p>
          <h6 class="mb-0">₹{{amount}}</h6>
        </div>
      </div>
    </div>
     <div class="col-sm-3 ">
      <div
        class="bg-light rounded d-flex align-items-center justify-content-between p-4"
      >
        <i class="fa fa-dollar fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total no. of sales</p>
          <h6 class="mb-0">{{Sales}}</h6>
        </div>
      </div>
    </div>
     <div class="col-sm-3 ">
      <div
        class="bg-light rounded d-flex align-items-center justify-content-between p-4"
      >
        <i class="fa fa-users fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total users</p>
          <h6 class="mb-0">{{users}}</h6>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- Sale & Revenue End -->

<!-- Sales Chart Start -->
<div class="row p-5 h-100" style="  width: 77rem; height: 35rem;">
    <div class="col-sm-6">
      <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Daily Sales</h6>

        </div>
       <canvas id="day" class="m-auto" style="width:55rem;max-width:520px;height:25rem;"></canvas> 
      </div>
    </div>
 

<!-- Sales Chart End -->

 <div class="bg-light rounded h-100 p-4 col-sm-6 " style="">
                            <h6 class="mb-4">Monthly sales</h6>
                           <canvas id="month" class="m-auto" style="width:60rem;max-width:540px;height:25rem;"></canvas> 
                        </div>




                        
                   
                  
                </div>    
                
                         
                        
      </div>
  </div>
      </div>

</div>
<div class="newwrap">

  <div class=" d-flex  justify-content-around  " style="padding-left: 14rem;">
        <div class="bg-light rounded mb-4 p-4" style="width: 35rem;">
                            <h6 class="mb-4">Weekly Sales</h6>
                            <canvas id="week" class="m-auto" style="width:30rem;height:25rem;"></canvas>
                        </div>  

                       

  </div>
</div>


</section>



  







</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



  
 <script> 
  $(document).ready(function() { 
   $.ajax({ 
     url: `/admin/stats/week`, 
     method: "GET", 
     success: function(response) { 
       console.log(response); 
       var xValues =response.date; 
       var yValues = response.totalAmount; 
       new Chart("week", { 
         type: "line", 
         data: { 
           labels: xValues, 
           datasets: [{ 
             fill: false, 
             lineTension: 0, 
             label: 'Sales', 
             backgroundColor: 'rgb(255, 99, 132)', 
             borderColor: 'rgb(255, 99, 132)', 
             data: yValues 
           }] 
         }, 
         options: { 
           legend: { 
             display: false 
           }, 
           scales: { 
             yAxes: [{ 
               ticks: { 
                 min: 6, 
                 max: 16 
               } 
             }], 
           } 
         } 
       }); 
     }, 
     error: function(err) { 
       console.log(err); 
     } 
   }) 
 }) 
 </script>


{{!-- 
 <div class="graph w-100  d-flex justify-content-center" style="height: 100vh; margin-top: 25rem;">
    <h3 class="text-cente pt-3" style="margin-left:auto;">Monthly Report</h3>
<canvas id="month" class="m-auto" style="width:60rem;max-width:600px;height:25rem;"></canvas> 

</div> --}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



  
 <script> 
  $(document).ready(function() { 
   $.ajax({ 
     url: `/admin/stats/month`, 
     method: "GET", 
     success: function(response) { 
       console.log(response); 
       var xValues =response.date; 
       var yValues = response.totalAmount; 
       new Chart("month", { 
         type: "bar", 
         data: {  
           labels: xValues, 
           datasets: [{ 
             fill: false, 
             lineTension: 0, 
             label: 'Sales', 
             backgroundColor: 'rgb(255, 99, 132)', 
             borderColor: 'rgb(255, 99, 132)', 
             data: yValues 
           }] 
         }, 
         options: { 
           legend: { 
             display: false 
           }, 
           scales: { 
             yAxes: [{ 
               ticks: { 
                 min: 6, 
                 max: 16 
               } 
             }], 
           } 
         } 
       }); 
     }, 
     error: function(err) { 
       console.log(err); 
     } 
   }) 
 }) 
 </script>



{{!--  
 <div class="graph w-100  d-flex justify-content-center" style="height: 100vh; margin-top: 25rem;">
    <h3 class="text-center" style="margin-left:auto ;">Daily Report</h3>
<canvas id="day" class="m-auto" style="width:60rem;max-width:600px;height:25rem;"></canvas> 

</div> --}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



  
 <script> 
  $(document).ready(function() { 
   $.ajax({ 
     url: `/admin/stats/day`, 
     method: "GET", 
     success: function(response) { 
       console.log(response); 
       var xValues =response.date; 
       var yValues = response.totalAmount; 
       new Chart("day", { 
         type: "line", 
         data: { 
           labels: xValues, 
           datasets: [{ 
             fill: false, 
             lineTension: 0, 
             label: 'Sales', 
             backgroundColor: 'rgb(255, 99, 132)', 
             borderColor: 'rgb(255, 99, 132)', 
             data: yValues 
           }] 
         }, 
         options: { 
           legend: { 
             display: false 
           }, 
           scales: { 
             yAxes: [{ 
               ticks: { 
                 min: 6, 
                 max: 16 
               } 
             }], 
           } 
         } 
       }); 
     }, 
     error: function(err) { 
       console.log(err); 
     } 
   }) 
 }) 
 </script>

 
 