<div class="dashboard-container">

  <h1>Dashboard</h1>

</div>



  <div class="container" style="width:38%;">

    <form action="/admin/login" method="post">

      <label>Username </label>
      <br />
      <input
        class="mt-1"
        type="text"
        placeholder="Enter Username"
        name="username"
        required
      />
      <br />
      <label>Password </label>
      <br />
      <input
        class="mt-1"
        type="password"
        placeholder="Enter Password"
        name="password"
        required
      />
      <br />
      <input class="btn btn-primary mt-3 mx-5 " type="submit" value="Login  ">
    </form>
  </div>



