
<section class="add">
  <div class="container1 border-none mt-5">
    <div class="row mt-5 col-md-5">
      <h2>Add Category</h2> 
      {{#with category}}
      <form action="/admin/Category/{{_id}}" method="post">
        <div class="form-group">
          <label for="Name">Category Name</label>
          <input type="text" value="{{Category_name}}" name="Name" class="form-control" id="Name" />

        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <input
            type="text"
            name="description"
            class="form-control"
            style="height:7rem ;"
            id="Description"
            value="{{Category_description}}"
          />
        </div>
         <div class="form-group">
          <label for="Name">Category Discount</label>
          <input type="text" value="{{cdiscount}}" name="cdiscount" class="form-control" id="Name" />

        </div>

        <button type="submit" class="btn btn-primary mt-3">Add</button>
      </form>
       {{/with}}
     

    </div>

  </div>

</section>