<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <div class="maincoffe">
  <a class="navbar-brand" href="#">

    <img src="/images/WhatsApp Image 2022-08-27 at 12.57.11 AM.jpeg" style="width: 50px;">
    Coffee Time
  </a>
</div>
  
  <form action="/admin/logout" method="post" class=" mr-auto">
  
  <li class="nav-item dropdown " >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img style="width: 30px;" src="/images/avatar-icon-images-4.jpg" alt="">
            VISAKH
            <span class="sr-only">(Admin)</span></a>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" type="submit" href="/admin/logout">Logout</a></li>

          </ul>
        </li>
  </form>
</nav>
<div class="side">
  
</div>
