

  <div class="sidebar">
    <div class="secondwrapper" style="width:25%; height:60%">
      <div>
        <img src="/images/menu.png" style="width: 100%;" height="20%" />
        <a href="/admin">Home</a>
      </div>
      <br />
      <div>
        <img src="/images/chart-simple-solid.svg" alt="" />
        <a href="/admin/orders">Orders</a>
      </div>
      <br />
      <div>
        <img src="/images/user-group-solid.svg" alt="" />
        <a href="/admin/users">Customers</a>
      </div>
      <br />
      <div>
        <img src="/images/mug-hot-solid.svg" alt="" />
        <a href="/admin/products">Products</a>
      </div>
      <br />
      <div>
        <img src="/images/snowflake-solid.svg" />
        <a href="/admin/category">category</a>
      </div>
      <br />
      <div>
        <img src="/images/money-check-dollar-solid.svg" alt="" />
        <a href="/admin/coupon">Coupon</a>
      </div>


        <div style="padding-top:1.4rem ;" >
        <img style="height: 32px;" src="/images/discount.png" alt="" />
        <a href="/admin/discounts">Discounts</a>
      </div>
      
    </div>

  </div>

