

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
     <a class="navbar-brand"  href="/"><img
      src="/images/WhatsApp Image 2022-08-27 at 12.57.11 AM.jpeg"
      style="width: 50px;margin-left: 5rem ;"
      alt=""
    /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/legacy">Legacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Offers">Offers</a></li>
                <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
Products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/products">Drinks</a></li>
            <li><a class="dropdown-item" href="/products/snacks">Snacks</a></li>
          
          </ul>
        </li>
        
      </ul> 
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >


    {{#if user}}

   <li><a href="/cart"><img src="/images/icons8-shopping-cart-24.png" alt=""></a></li> 
   <li> <a class="nav-link " href="/logout">Logout </a></li>
    {{else}}
     <li><a href="/cart"><img src="/images/icons8-shopping-cart-24.png" alt=""></a></li> 
    <li><a class="nav-link " href="/signin">Login</a></li>
{{/if}}

      </ul>
    </div>
  </div>
</nav>