<section class="footer  " style="padding-top:8rem ;">
  <div class="logo">
    <img style="width: 200px; height:200px;" src="/images/cft.jpeg" alt="" />

  </div>
  <div class="footer_list" >
    <div class="list">
      <ul>
        <li class="footer_head fw-bold">SITE MAP</li>
        <li>Home</li>
        <li>About us</li>
        <li>Offers</li>
        <li>Legacy</li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li class="footer_head fw-bold">SOCIALS</li>
        <li>Facebook</li>
        <li>Linkdin</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li class="footer_head fw-bold">HEAD OFFICE</li>
        <li>Home</li>
        <li>About us</li>
        <li>Offers</li>

      </ul>
    </div>

  </div>
  <div class="copyright">

  </div>

</section>