{{! <section class="footer  " style="padding-top:8rem ;">
  <div class="container-fluid">

   


  <div class="footer_list" >
     <img class="" style="width: 200px; height:200px;" src="/images/cft.jpeg" alt="" />
    <div class="list">
      <ul>
        <li class="footer_head fw-bold">SITE MAP</li>
        <li>Home</li>
        <li>About us</li>
        <li>Offers</li>
        <li>Legacy</li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li class="footer_head fw-bold">SOCIALS</li>
        <li>Facebook</li>
        <li>Linkdin</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li class="footer_head fw-bold">HEAD OFFICE</li>
        <li>Home</li>
        <li>About us</li>
        <li>Offers</li>

      </ul>
    </div>

  </div>
  <div class="copyright">

  </div>
</div>
</section>


 }}

<div class="container-fluid h-auto bg-light my-5">

  <footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <div
            class="footerimg d-flex align-items-center justify-content-center mb-4 mx-auto"
            style="width: 150px; height: 150px;"
          >
            <img src="/images/cft.jpeg" height="70" alt="" loading="lazy" />
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Site map</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <p>Home</p>
            </li>
            <li class="mb-2">
              <p>About us</p>
            </li>
            <li class="mb-2">
              <p>Offers</p>
            </li>
            <li class="mb-2">
              <p>Legacy</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">SOCIALS</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <p>Facebook</p>
            </li>
            <li class="mb-2">
              <p>Linkdin</p>
            </li>
            <li class="mb-2">
              <p>Instagram</p>
            </li>
            <li class="mb-2">
              <p>Twitter</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">HEAD OFFICE</h5>

          <ul class="list-unstyled">
            <li>
              <p>Home</p>
            </li>
            <li>
              <p>About us</p>
            </li>
            <li>
              <p>Offers</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>

</div>
<!-- End of .container -->