<div class="container border-none m-5 forget-password">
  <div class="row m-5">
    <div class="col-md-12 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body m-5">
          <div class="text-center m-5">
            <img
              src="https://i.ibb.co/rshckyB/car-key.png"
              alt="car-key"
              border="0"
            />
            <h2 class="text-center">Change Password?</h2>
            <p>You can reset your password here.</p>
            <form
              id="change_password"
              role="form"
              autocomplete="off"
              class="form"
              method="post"
            >
              <div class="form-group">
                <div class="mt-3">

                  <label for="currentpassword">Current Password</label>
                  <input
                    id="currentpassword"
                    name="currentpassword"
                    placeholder=""
                    class="form-control"
                    type="text"
                  />

                </div>
              </div>
              <div class="form-group">
                <div class="">

                  <label for="newpassword">New Password</label>
                  <input
                    id="forgetAnswer"
                    name="newpassword"
                    placeholder=""
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
              <span class="text-danger" id="error"></span>
              <div class="form-group m-3">
                <input
                  name="btnForget"
                  class="btn btn-lg btn-primary btn-block btnForget"
                  value="Reset Password"
                  type="submit"
                />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script>
    $("#change_password").submit(function( e) {
            e.preventDefault()
        $.ajax({
            url: "/changepassword", 
            method: "POST",
            data: $("#change_password").serialize(),
            success: function(){
                 
          Swal.fire(
           'Good job!',
            'Password Changed succesfully',
             'success'
).then(()=>{
    location.href = '/profile'
})
            }, error: function (err) {
              
                err = jQuery.parseJSON(err.responseText)
                console.log(err)
                $("#error").text(err)
            }
        })
    })
</script>