<link rel="stylesheet" href="/stylesheets/legacy.css">
<div
  class="bg-image"
  style="
    background-image:url(/images/header-bg\ \(1\).jpg);
    height: 100vh; background-repeat: no-repeat;">
<section class="banner-area" id="home">
<div class="container border-none">
<div class="row fullscreen d-flex align-items-center justify-content-start" style="height: 364px;">
<div class="banner-content col-lg-7">
<h4 class="text-white text-uppercase ">Now you can feel the Energy</h4>
<h1 class="text-white text-uppercase">
Start your day with <br>
a black Coffee
</h1>
<a href="/products" class="text-uppercase"><button type="button" class="btn btn-light">BUY NOW</button></a>
</div>
</div>
</div>
</section>
</div>
<section style="margin: 100px; padding-top: 10rem;">
    <div class="container border-none">
  <div class="row">
    <div class="col-6">
        <h1>Feel the Freshness of Coffee</h1>
<h3 class="lh-base">From the 80s into the new millennium, Our reputation for artisan quality coffee increased dramatically.</h3>
    <h3 class="lh-base"> Shops opened across prestigious locations in India, and for the last 10 years we has been voted the worlds favorite coffee shop.

From here, We continued to expand across the globe. There are now over 8,000 shops in 32 markets and 10,000 Smart Café machines worldwide.

Throughout the many years since the Coffee brothers opened their first roastery, we’ve still taken inspiration from their passion to craft the finest and richest cups.</h3>
    </div>
    <div class="col-6 " >
<img class="shadow-lg shadow-intensity-xl"  src="/images/nathan-dumlao-Y3AqmbmtLQI-unsplash (2).jpg" style="width:720px ;height:50rem;"  alt="">
    </div>
  </div>
</div>
</section>