
<div
  class="bg-image"
  style="
    background-image:url(/images/header-bg\ \(1\).jpg);
    height: 100vh;background-repeat: no-repeat;">
<section class="banner-area" id="home">

<div class="container border-none">
<div class="row fullscreen d-flex align-items-center justify-content-start" style="height: 364px;">
<div class="banner-content col-lg-7">
<h4 class="text-white text-uppercase ">Coffee time</h4>
<h1 class="text-white text-uppercase">
10% off on all orders
</h1>
<h1 class="text-white text-uppercase">be coffee</h1>

</div>
</div>
</div>
</section>
</div>
<section style="margin: 100px;margin-top: 10rem;">
    <div class="container border-none">
  <div class="row">
    <div class="col-6">
        <h1>Feel the Freshness of Coffee</h1>
<h3 class="lh-base">CAPPUCCINO | LATTE |ESPRESSO </h3>
<h3 class="lh-base">WHAT'S YOUR CUP OF COFFEE?</h3>
<h5>CHECK OUT OUR LATEST OFFERS</h5>
    <h3 class="lh-base"> </div>
    <div class="col-6 " >
<img class="shadow-lg shadow-intensity-xl"  src="/images/image.jpg" style="width:720px "  alt="">
    </div>
  </div>
</div>
</section>