<form action="/otpLogin" method="post">
                    <div class="form-group">
                      <label for="Name">Enter phone number</label>
                      <input type="text" name="phone" class="form-control" id="Name"  >
                      <input class="btn btn_primary" value="Generat OTP" type="submit">