
<div class="container-fluid">
      <div class="">
        <form action="/profile/addAddress" id="checkout-form" method="post" class="loginBox">
          <div class="d-flex">
            <input required
              type="text"
              class="w-100 p-2 m-2 form-control"
              name="name"
              placeholder="Name"
            />
            <input required
              type="number"
              class="w-100 p-2 m-2 form-control"
              name="phone"
              placeholder="Phone"
            />
          </div>
          <div class="d-flex">
            <input required
              type="number"
              class="w-100 p-2 m-2 form-control"
              name="pincode"
              placeholder="Pin Code"
            />
            <input required
              type="text"
              class="w-100 p-2 m-2 form-control"
              name="locality"
              placeholder="Locality"
            />
          </div>
          <div class="d-flex">
            <select class="form-select w-100 p-2 m-2" name="State">
              <option selected>State</option>
              <option value="Kerala">Kerala</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
            </select>
            <input required
              type="text"
              class="w-100 p-2 m-2 form-control"
              name="city" 
              placeholder="City"
            />
          </div>
          <div class="d-flex">
            <input required
              type="text"
              class="w-100 p-2 m-2 form-control"
              name="houseName"
              placeholder="House Name"
            />
            <input required
              type="text"
              class="w-100 p-2 m-2 form-control"
              name="landmark"
              placeholder="Landmark "
            />
          </div>
          <div class="d-flex">
            <input required
              type="text"
              class="w-100 p-2 m-2 form-control"
              name="postOffice"
              placeholder="Post Office"
            />
          </div>
          <div class="d-flex mt-2">
            <input required type="reset" class="btn btn-danger p-2 m-2 w-100" />
            <input required type="submit" value="Save" class="btn btn-success p-2 m-2 w-100" />
          </div>
        </form>
      </div>
    </div>
