<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/authentication.css" />
<div class="container-fluid vh-100 d-flex bg-ma-white justify-content-center">
  <div
    class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-3 my-auto bg-white py-4 rounded"
  >
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item w-50">
        <a class="nav-link active text-center" aria-current="page" href="#">Sign
          In</a>
      </li>
      <li class="nav-item w-50">
        <a class="nav-link text-center text-muted link2" href="/signup">Sign Up</a>
      </li>
    </ul>
    <div class="col-sm-9 col-9 mx-auto">
      <form id="signin">
        <p>Email</p>
        <input
          class="form-control py-2 px-3 mb-3"
          placeholder="E.g : Johndoe@gmail.com"
          id="email"
          type="email"
          name="email"
        />
        <p>Password</p>
        <input
          class="form-control py-2 px-3 mb-3"
          placeholder="E.g : PaSs#1$2&3"
          id="password"
          type="password"
          name="password"
        />
        <a
          href="/otpLogin"
          class=" text-secondary forgot-password"
        >SignIn with Otp</a>
        <a
          href="/forgot-password"
          class="float-end text-secondary forgot-password"
        >Forgot Password?</a>
        <label class="text-danger" id="error"></label>
        <button type="submit" class="btn btn-primary w-100 mt-4">Sign
          In</button></form>
      <p class="text-center text-muted m-1">Or</p>
      <a href="/signInWithGoogle" class="btn w-100 google">Sign in with google</a>
    </div>
  </div>
</div>
<script src="/javascripts/user/signin.js" type="text/javascript"></script>