<form action="/verifyOtp" method="post">
                    <div class="form-group">
                      <label for="Name">Enter otp</label>
                      <input type="text" name="otp" class="form-control" id="otp"  >
                      <input class="btn btn_primary" value="Enter OTP" type="submit">